Data_Structures/Mini_Project.py

venv/

Artificial Intelligence/advance/Jupyter_Notebooks/practical_01.ipynb
Artificial Intelligence/advance/Jupyter_Notebooks/practical_02.ipynb
Artificial Intelligence/advance/Jupyter_Notebooks/practical_03.ipynb
Artificial Intelligence/advance/Jupyter_Notebooks/practical_04.ipynb
Artificial Intelligence/advance/Jupyter_Notebooks/practical_05.ipynb
Artificial Intelligence/advance/Jupyter_Notebooks/practical_06.ipynb
Artificial Intelligence/advance/Jupyter_Notebooks/csp_aust_map_col.ipynb

Artificial Intelligence/advance/Scripts/
